@model User

<div class="cardfile-container-details">
    <div class="row">
        <div class="col-xl-12 col-md-12">
            <div class="card card-plain details-container col6-left">
                <div class="card-header card-header-primary">
                    <div class="col-6">
                        <h4 class="card-title mt-0">User Token</h4>
                    </div>
                </div>
                <div class="card-body">
                    <div class="form-group details-form-group">
                        <div class="details-field col-12 col-md-12 col-sm-12">
                            <label>@Model.Token</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>